<svg id="clock" height="200" width="200">
	<circle id="face" cx="50" cy="50" r="45"/>
    	<g id="hands">
        <rect id="hour"  [attr.transform]="'rotate(' + hourDegree +', '+ (50)+', '+ (50)+ ')'"
        x="48.5" y="12.5" width="5" height="40" rx="2.5" ry="2.55" />
        <rect id="min" [attr.transform]="'rotate(' + minuteDegree +', '+ (50)+', '+ (50)+ ')'"
        x="48" y="12.5" width="3" height="40" rx="2" ry="2"/>
        <line id="sec" [attr.transform]="'rotate(' + secondDegree +', '+ (50)+', '+ (50)+ ')'"
         x1="50" y1="50" x2="50" y2="16" />
	</g>
</svg>



<!-- <p> Time to Second:  {{secondDegree }} </p>
<p> Time to Min:  {{minuteDegree }} </p>
<p> Time to Hour:  {{hourDegree }} </p>  -->

